<html>
<head>
    <title>Confirm Deleting Contacts</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
</head>
<body>
        <div class='container'>
            <h1>Your Fancy Dancy Address Book<h1>
            <h3>Yikes, do you really want to delete all your contacts?</h3>
            <br>
            <h4>Okay, you free spirited soul, go for it!</h4>
            <button class='btn'><a href="/delete">Wipe 'em out</a></button>
            <br>
            <br>
            <h4>Or not, just start adding your contacts in again</h4>
            <button class='btn'><a href="/">Add a new contact</a></button>
        </div>
</body>
</html>
