<html>
<head>
    <title>New Contact Created</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
</head>
<body>
        <div class='container'>
            <h1>Your Fancy Dancy Address Book<h1>
            <h3>You created a contact!</h3>

            <h3>Here is your new contact:</h3>
            <ul>

                <h5>{{ new_contact.getName }}</h5>
                <li>{{ new_contact.getPhone }}</li>
                <li>{{ new_contact.getAddress }}</li>

            </ul>
            <button class='btn'><a href="/">Add another contact</a></button>
        </div>
</body>
</html>
