<html>
<head>
    <title>Contacts Deleted</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
</head>
<body>
        <div class='container'>
            <h1>Your Fancy Dancy Address Book<h1>
            <h3>You did it; you deleted all your contacts!</h3>

            <button class='btn'><a href="/">Add a new contact</a></button>
        </div>
</body>
</html>
